In [122]:
import pandas as pd
import numpy as np

In [123]:
#4c
np.set_printoptions(4, suppress=True)
for i in range (0,3):
    print('*** matrix ***')
    m = np.random.randint(-10, 11, (3,3))
    print(m)
    try:
        m_inv = np.linalg.inv(m)
        print('*** Inverse ***')
        print(m_inv)
        print('*** m * m_inverse ***')
        print(np.matmul(m, m_inv))
    except LinAlgError as e:
        print("matrix is not invertible")

*** matrix ***
[[ 5  4 -5]
 [ 1  9 -7]
 [ 0  4  0]]
*** Inverse ***
[[ 0.2333 -0.1667  0.1417]
 [-0.      0.      0.25  ]
 [ 0.0333 -0.1667  0.3417]]
*** m * m_inverse ***
[[ 1.  0. -0.]
 [-0.  1.  0.]
 [-0.  0.  1.]]
*** matrix ***
[[  5   8  -1]
 [ -9  10   8]
 [-10  -4   0]]
*** Inverse ***
[[-0.0519 -0.0065 -0.1201]
 [ 0.1299  0.0162  0.0503]
 [-0.2208  0.0974 -0.1981]]
*** m * m_inverse ***
[[ 1. -0.  0.]
 [ 0.  1.  0.]
 [ 0.  0.  1.]]
*** matrix ***
[[  8  -1  -5]
 [  1   5  -4]
 [  9   0 -10]]
*** Inverse ***
[[ 0.3356  0.0671 -0.1946]
 [ 0.1745  0.2349 -0.1812]
 [ 0.302   0.0604 -0.2752]]
*** m * m_inverse ***
[[ 1.  0. -0.]
 [ 0.  1.  0.]
 [ 0. -0.  1.]]

In [125]:
house_data = pd.read_csv("kc_house_data.csv")
house_data = house_data.drop(columns = ["id", "date", "zipcode"])

In [126]:
without_price = house_data.drop('price', axis=1)
features=list(without_price.columns)
data = [[without_price[f].mean(), without_price[f].min(), without_price[f].max(), without_price[f].var()] for f in features]
df = pd.DataFrame(data, columns=['avg', 'min', 'max', 'variance'], index=features)
df

                        avg        min           max      variance
bedrooms           3.370842     0.0000  3.300000e+01  8.650150e-01
bathrooms          2.114757     0.0000  8.000000e+00  5.931513e-01
sqft_living     2079.899736   290.0000  1.354000e+04  8.435337e+05
sqft_lot       15106.967566   520.0000  1.651359e+06  1.715659e+09
floors             1.494309     1.0000  3.500000e+00  2.915880e-01
waterfront         0.007542     0.0000  1.000000e+00  7.485226e-03
view               0.234303     0.0000  4.000000e+00  5.872426e-01
condition          3.409430     1.0000  5.000000e+00  4.234665e-01
grade              7.656873     1.0000  1.300000e+01  1.381703e+00
sqft_above      1788.390691   290.0000  9.410000e+03  6.857347e+05
sqft_basement    291.509045     0.0000  4.820000e+03  1.958727e+05
yr_built        1971.005136  1900.0000  2.015000e+03  8.627973e+02
yr_renovated      84.402258     0.0000  2.015000e+03  1.613462e+05
lat               47.560053    47.1559  4.777760e+01  1.919990e-02
long            -122.213896  -122.5190 -1.213150e+02  1.983262e-02
sqft_living15   1986.552492   399.0000  6.210000e+03  4.697612e+05
sqft_lot15     12768.455652   651.0000  8.712000e+05  7.455182e+08

In [127]:
#Highest average
max_ftr_avg = df['avg'].idxmax()
print('Highest average', max_ftr_avg, df.loc[max_ftr_avg]['avg'])
min_ftr_avg = df['avg'].idxmin()
print('Lowest average', min_ftr_avg, df.loc[min_ftr_avg]['avg'])

#Highest variance
max_ftr_var = df['variance'].idxmax()
print('Highest variance', max_ftr_var, df.loc[max_ftr_var]['variance'])
min_ftr_var = df['variance'].idxmin()
print('Lowest variance', min_ftr_var, df.loc[min_ftr_var]['variance'])

Highest average sqft_lot 15106.967565816869
Lowest average long -122.21389640494083
Highest variance sqft_lot 1715658774.1754541
Lowest variance waterfront 0.007485225502689098

In [133]:
#5b, c
features=list(house_data.columns)[1:]
corr = [house_data['price'].corr(house_data[f]) for f in features]
result = pd.DataFrame({'Feature' : features, 'Correlation' : corr})
result

          Feature  Correlation
0        bedrooms     0.308350
1       bathrooms     0.525138
2     sqft_living     0.702035
3        sqft_lot     0.089661
4          floors     0.256794
5      waterfront     0.266369
6            view     0.397293
7       condition     0.036362
8           grade     0.667434
9      sqft_above     0.605567
10  sqft_basement     0.323816
11       yr_built     0.054012
12   yr_renovated     0.126434
13            lat     0.307003
14           long     0.021626
15  sqft_living15     0.585379
16     sqft_lot15     0.082447

In [134]:
result[result.Correlation == result.Correlation.max()]

       Feature  Correlation
2  sqft_living     0.702035