In [3]:
import pandas as pd
import numpy as np

In [4]:
# read training data 
df_train = pd.read_csv("train.csv")
df_test = pd.read_csv("test.csv")
df_train = df_train.drop(columns = ['Unnamed: 0', 'zipcode'])
df_test = df_test.drop(columns=['Unnamed: 0', 'zipcode', 'date', 'id'])
df_train['price'] = df_train['price']/1000
df_test['price'] = df_test['price']/1000
df_train

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,lat,long,sqft_living15,sqft_lot15
0,221.90,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,47.5112,-122.257,1340,5650
1,538.00,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,47.7210,-122.319,1690,7639
2,180.00,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,47.7379,-122.233,2720,8062
3,604.00,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,47.5208,-122.393,1360,5000
4,510.00,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,291.00,4,2.50,1860,6325,2.0,0,0,4,7,1860,0,1991,0,47.3492,-122.030,1860,6449
996,199.95,2,2.75,1590,20917,1.5,0,0,3,5,1590,0,1920,0,47.2786,-122.250,1310,6000
997,553.50,2,1.00,850,2340,1.0,0,0,3,7,850,0,1922,0,47.6707,-122.328,1300,3000
998,189.95,2,1.00,1030,4188,1.0,0,0,3,8,1030,0,1981,0,47.3738,-122.057,1450,3376
999,289.00,3,2.00,1850,9550,1.0,0,0,3,8,1850,0,1988,0,47.3225,-122.273,2250,9550

In [5]:
# select features and target
x_train = df_train.loc[:,df_train.columns != 'price']
y_train = df_train.loc[:, 'price']
x_test = df_test.loc[:,df_test.columns != 'price']
y_test = df_test.loc[:, 'price']

In [6]:
#2
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

scaler = StandardScaler()
x_train = pd.DataFrame(scaler.fit_transform(x_train), columns=x_train.columns)
x_test = pd.DataFrame(scaler.fit_transform(x_test), columns=x_test.columns)

model = LinearRegression()
model.fit(X=x_train, y=y_train)

#predict train
print("training data:")
predict = model.predict(X=x_train)
score = model.score(x_train, y_train)
mse = mean_squared_error(y_train, predict)
#r2 = r2_score(y_train, predict)
print(f'mean squared error: {mse}')
print(model.coef_)   
print (f'model r^2: {score}')


#predict test
print("testing data:")
predict = model.predict(X=x_test)
score = model.score(x_test, y_test)
mse = mean_squared_error(y_test, predict)
print(f'mean squared error: {mse}')
print(model.coef_)   
print (f'r^2: {score}')

training data:
mean squared error: 31486.167775794882
[-12.52196187  18.52763251  56.7488368   10.88186845   8.04372084
  63.74289956  48.20010852  12.96426936  92.23147482  48.29008886
  27.13703247 -67.64311741  17.27137953  78.37573693  -1.03520308
  45.57765781 -12.93009098]
model r^2: 0.7265334318706018
testing data:
mean squared error: 59784.36556751666
[-12.52196187  18.52763251  56.7488368   10.88186845   8.04372084
  63.74289956  48.20010852  12.96426936  92.23147482  48.29008886
  27.13703247 -67.64311741  17.27137953  78.37573693  -1.03520308
  45.57765781 -12.93009098]
r^2: 0.6414235000248598

In [7]:
#3 linear regression
from numpy.linalg import inv
class MyLinearRegression:
    
    def fit(self, X, y):
        X_arr = np.insert(X.to_numpy(), 0, 1, axis=1)
        y_arr = y.to_numpy()
        # we know theta = (X^TX)^-1X^Ty
        theta = inv(X_arr.transpose()@X_arr)@(X_arr.transpose()@y)
        self.theta = theta
        return theta
    
    def predict(self, X):
        X_arr = np.insert(X.to_numpy(), 0, 1, axis=1)
        return X_arr@self.theta

In [8]:
#4 polynomial regression
class PolyRegression:
    def __init__(self, p):
        self.p = p
    
    def fit(self, X, y):
        X_arr = np.insert(X.to_numpy(), 0, 1, axis=1)
        y_arr = y.to_numpy()
        # we know theta = (X^TX)^-1X^Ty
        theta = inv(X_arr.transpose()@X_arr)@(X_arr.transpose()@y)
        self.theta = theta
        return theta
    
    def predict(self, X):
        X_orig = X
        X_arr = np.insert(X.to_numpy(), 0, 1, axis=1)
        for i in range(1, self.p+1):
            X_arr = np.append(X_arr, X_orig**i)
        return X_arr@self.theta

In [9]:
#5 gradient descent
from numpy.linalg import norm
class GradientDescentLR:
    def __init__(self, alpha, max_depth):
        self.alpha = alpha
        self.max_depth = max_depth
    
    def fit(self, X, y):
        epsilon = .001
        X_arr = np.insert(X.to_numpy(), 0, 1, axis=1)
        y_vec = y.to_numpy().reshape(y.shape[0], 1)
        X_trans = X_arr.transpose()
        const = self.alpha * 2/len(X.index)
        diff = 10000000
        count = 0
        theta = np.random.rand(X_arr.shape[1], 1)   
        while (diff > epsilon and count < self.max_depth):
            theta_new = const * X_trans@(X_arr@theta - y_vec)
            diff = norm(theta-theta_new)
            theta = theta-theta_new
            count+=1
        self.theta = theta
        return theta
    
    def predict(self, X):
        X_arr = np.insert(X.to_numpy(), 0, 1, axis=1)
        return X_arr@self.theta

In [10]:
# ridge
class RidgeRegression:
    def __init__(self, cost):
        self.cost = cost
    
    def fit(self, X, y):
        X_arr = np.insert(X.to_numpy(), 0, 1, axis=1)
        y_arr = y.to_numpy()
        theta = X_arr.transpose@()
        self.theta = theta
        return theta
    
    def predict(self, X):
        X_arr = np.insert(X.to_numpy(), 0, 1, axis=1)
        return X_arr@self.theta

In [11]:
#3
my_reg = MyLinearRegression()
my_reg.fit(x_train, y_train)
predict = my_reg.predict(x_test)
mse = mean_squared_error(y_train, predict)
r2 = r2_score(y_train, predict)

In [12]:
def run_model(X_train, Y_train, X_test, Y_test, model, print_coef=False):
    model.fit(X_train, Y_train)
    if print_coef:
        print(f'Intercept: {model.intercept_:.2f}')
        print('Coefficients\n', model.coef_)

    Y_train_predicted = model.predict(X_train)
    mse = mean_squared_error(Y_train, Y_train_predicted)
    r2= r2_score(Y_train, Y_train_predicted)

    print("Training set performance")
    print(f'   MSE = {format_nbr(mse)}')
    print(f'   R2 = {format_nbr(r2)}')
   
    Y_test_predicted = model.predict(X_test)
    mse = mean_squared_error(Y_test, Y_test_predicted)
    r2= r2_score(Y_test, Y_test_predicted)

    print("Testing set performance")
    print(f'   MSE = {format_nbr(mse)}')
    print(f'   R2 = {format_nbr(r2)}')
    
# format a number based on its magnitude
# If <= 100000, print using :.3f
# Else print using :.0e
def format_nbr(f):
    if abs(f) < 100000:
        return f'{f:.3f}'
    else:
        return f'{f:.4e}'
    
run_model(x_train, y_train, x_test, y_test, MyLinearRegression())

Training set performance
   MSE = 6.6762e+05
   R2 = -4.798
Testing set performance
   MSE = 6.0156e+05
   R2 = -2.608

In [13]:
for alpha in [0.01, 0.1, 0.5]:
    for max_iter in [10, 50, 100]:
        print('**** alpha =', alpha, "max_iter =", max_iter)
        run_model(x_train, y_train, x_test, y_test, GradientDescentLR(alpha=alpha, max_depth = max_iter), print_coef=False)

**** alpha = 0.01 max_iter = 10
Training set performance
   MSE = 2.3498e+05
   R2 = -1.041
Testing set performance
   MSE = 2.9231e+05
   R2 = -0.753
**** alpha = 0.01 max_iter = 50
Training set performance
   MSE = 69630.857
   R2 = 0.395
Testing set performance
   MSE = 1.0783e+05
   R2 = 0.353
**** alpha = 0.01 max_iter = 100
Training set performance
   MSE = 36802.691
   R2 = 0.680
Testing set performance
   MSE = 68880.554
   R2 = 0.587
**** alpha = 0.1 max_iter = 10
Training set performance
   MSE = 35097.347
   R2 = 0.695
Testing set performance
   MSE = 66537.326
   R2 = 0.601
**** alpha = 0.1 max_iter = 50
Training set performance
   MSE = 31497.145
   R2 = 0.726
Testing set performance
   MSE = 59905.031
   R2 = 0.641
**** alpha = 0.1 max_iter = 100
Training set performance
   MSE = 31486.431
   R2 = 0.727
Testing set performance
   MSE = 59802.274
   R2 = 0.641
**** alpha = 0.5 max_iter = 10
Training set performance
   MSE = 1.4217e+17
   R2 = -1.2348e+12
Testing set performance
   MSE = 1.3896e+17
   R2 = -8.3346e+11
**** alpha = 0.5 max_iter = 50
Training set performance
   MSE = 1.2049e+67
   R2 = -1.0465e+62
Testing set performance
   MSE = 1.1777e+67
   R2 = -7.0636e+61
**** alpha = 0.5 max_iter = 100
Training set performance
   MSE = 3.2206e+129
   R2 = -2.7972e+124
Testing set performance
   MSE = 3.1480e+129
   R2 = -1.8881e+124