In [2]:
import pandas as pd
import numpy as np

In [3]:
# read training data 
df_train = pd.read_csv("train.csv")
df_test = pd.read_csv("test.csv")
df_train = df_train.drop(columns = ['Unnamed: 0', 'zipcode'])
df_test = df_test.drop(columns=['Unnamed: 0', 'zipcode', 'date', 'id'])
df_train['price'] = df_train['price']/1000
df_test['price'] = df_test['price']/1000
df_test

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,lat,long,sqft_living15,sqft_lot15
0,700.0,4,2.00,1830,4590,2.0,0,0,3,8,1830,0,1908,0,47.6593,-122.327,1650,4590
1,270.0,3,2.00,1560,8853,1.0,0,0,3,7,1560,0,1967,0,47.4312,-122.171,1610,8750
2,258.0,4,1.75,1730,8320,1.0,0,0,3,7,1230,500,1977,0,47.3270,-122.361,1840,9800
3,530.0,3,2.50,1930,7214,2.0,0,0,3,8,1930,0,2005,0,47.7191,-122.309,1930,7266
4,245.0,3,2.25,1422,3677,2.0,0,0,3,7,1422,0,2012,0,47.3204,-122.178,1677,3677
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,307.0,3,1.75,1890,13860,1.0,0,0,5,7,1890,0,1966,0,47.4156,-122.149,1500,14536
996,194.0,3,1.50,1010,5000,1.0,0,0,3,6,1010,0,1943,0,47.4925,-122.278,980,5000
997,180.0,3,1.00,1010,8581,1.0,0,0,4,6,1010,0,1920,0,47.3043,-122.216,1060,10354
998,465.0,4,2.25,2340,13383,1.0,0,0,3,8,1170,1170,1983,0,47.6211,-122.037,1810,12532
999,722.5,4,2.50,2460,9296,2.0,0,0,3,9,2460,0,1978,0,47.6125,-122.152,2730,9900

In [4]:
# select features and target
x_train = df_train.loc[:,df_train.columns != 'price']
y_train = df_train.loc[:, 'price']
x_test = df_test.loc[:,df_test.columns != 'price']
y_test = df_test.loc[:, 'price']

In [5]:
#2
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

scaler = StandardScaler()
x_train = pd.DataFrame(scaler.fit_transform(x_train), columns=x_train.columns)
x_test = pd.DataFrame(scaler.fit_transform(x_test), columns=x_test.columns)

model = LinearRegression()
model.fit(X=x_train, y=y_train)

#predict train
print("training data:")
predict = model.predict(X=x_train)
score = model.score(x_train, y_train)
mse = mean_squared_error(y_train, predict)
r2 = r2_score(y_train, predict)
print(f'mean squared error: {mse}')
print(model.coef_)   
print (f'model r^2: {score}')
print (f'other r^2: {r2}')


#predict test
print("testing data:")
predict = model.predict(X=x_test)
score = model.score(x_test, y_test)
mse = mean_squared_error(y_test, predict)
r2 = r2_score(y_test, predict)
print(f'mean squared error: {mse}')
print(model.coef_)   
print (f'r^2: {score}')
print (f'other r^2: {r2}')

training data:
mean squared error: 31486.167775794882
[-12.52196187  18.52763251  56.7488368   10.88186845   8.04372084
  63.74289956  48.20010852  12.96426936  92.23147482  48.29008886
  27.13703247 -67.64311741  17.27137953  78.37573693  -1.03520308
  45.57765781 -12.93009098]
model r^2: 0.7265334318706018
other r^2: 0.7265334318706018
testing data:
mean squared error: 59784.36556751666
[-12.52196187  18.52763251  56.7488368   10.88186845   8.04372084
  63.74289956  48.20010852  12.96426936  92.23147482  48.29008886
  27.13703247 -67.64311741  17.27137953  78.37573693  -1.03520308
  45.57765781 -12.93009098]
r^2: 0.6414235000248598
other r^2: 0.6414235000248598

In [ ]:
from numpy.linalg import inv
class MyLinearRegression:
    def __init__(self):
    
    def fit(self, x, y):
        ones = np.ones(shape = y.shape)[..., None]
        x = np.concatenate((ones, x), axis=1)
        theta = inv(X.transpose()@X)@(X.transpose()@y)
        print (theta)
        return theta
    
    def predict(self, x):

In [12]:

#3
# we know theta = (X^TX)^-1X^Ty
def lin_regression(X, y):
    ones = np.ones(shape = y.shape)[..., None]
    X = np.concatenate((ones, X), axis=1)
    print (X)
    theta = np.matmul(inv(np.matmul(X.transpose(), X)), np.matmul(X.transpose(), y))
    print (theta)
    return
lin_regression(x_train, y_train)

[[ 1.         -0.40982347 -1.44988843 ... -0.35519332 -0.96563661
  -0.3128578 ]
 [ 1.         -0.40982347  0.28318404 ... -0.7998304  -0.44332966
  -0.23355563]
 [ 1.         -1.58410276 -1.44988843 ... -0.18307573  1.09374507
  -0.21669046]
 ...
 [ 1.         -1.58410276 -1.44988843 ... -0.86437449 -1.02532883
  -0.4185143 ]
 [ 1.         -1.58410276 -1.44988843 ...  1.07911986 -0.80148299
  -0.40352304]
 [ 1.         -0.40982347 -0.06343045 ... -0.46993837  0.39236146
  -0.15736334]]
[ 5.20414834e+02  5.44332188e+02 -3.11328406e+02  2.49791874e+03
  2.28776249e+00  5.49771311e+01  6.31040571e+01  4.93649806e+01
  1.40556961e+01  1.43459210e+02 -1.86439102e+03 -7.37164669e+02
 -6.76431174e+01  1.72713795e+01  7.83757369e+01 -1.03520308e+00
  4.55776578e+01 -1.29300910e+01]